@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans|Oswald');

body {
  max-width: 375px;
  margin: auto;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #FFFFFF;
  width: 375px;
}

.App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 40vmin;
 }

.App-header {
  height: 70px;
  color: #561125;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu li{
  display:inline-block;
  font-size: 16px;
  flex: 1;
}

.rightline {
  border-right: 1px solid #fdf8ed;
}

.menu li a {
  text-decoration: none;
}

.menu {
  margin: auto;
  background-color: #ff6900;
  width: 100%;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 70px;
  display: flex;
  align-items: center;
}

.menu .dropdown {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  outline: 0;
  border: 0;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  color: #cc3524;
  border-radius: 4px;
  margin: 0 12px;
  padding: 0 20px;
  width: auto;
}

.menu .dropdown__content {
  background-color: #FFF;
  top: 100%;
  left: 0;
  min-width: 100%;
  margin-top: 4px;
  border-radius: 4px;
}

.menu .dropdown__content ul {
  padding: 0;
}

.menu .dropdown__content li {
  display: block;
  height: 36px;
  text-align: left;
  padding: 0 16px;
}

.content {
  margin: auto;
  text-align: center;
  color: #561125;
  font-family: 'Lato', sans-serif;
  margin-bottom: 100px;
}

.chart {
  margin: auto;
}

.explanation-container {
  width: 200px;
  margin: auto;
  text-align: left;
}

.explanation-text {
  padding-left: 30px;
}

.square1 {
  background-color: #ec732f;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 5px;
}


.square2 {
  margin-top: 5px;
  background-color: #f88c20;
  width: 20px;
  height: 20px;
  float: left;
}

.challenges-list {
  display:inline-block;
  vertical-align: top;
  width: 50%;
  margin: auto;
  padding: 5px;
  width: 100%;
  padding: 10px;
}

.challenges-list li {
  list-style-type: none;
  text-align: left;
  color: white;
  background-color: #561125;
  padding: 5px;
  font-size: 18px;
}

.checkMark {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.dropdown {
  background-color: #ec732f;
  width: 120px;
  height: 25px;
  border: 0px;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}
.spinner{
  position: absolute;
  top: 80%;
}

.titlecontainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  color: #561125;
}

.headerlogo {
  height: 45px;
  padding: 0;
}

.subheader {
  text-align: center;
  color: #561125;
  margin: auto;
}

.card {
  width: 92%;
  background-color: white;
  margin: auto;
  padding-top: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px -3px 26px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -3px 26px -9px #E2E2E2;
  box-shadow: 0px -3px 26px -9px #E2E2E2;
  border-radius: 12px;
  margin-top: 20px;
}
